# Build output
/target/
/out/

# IDEs
/.idea/
/*.iml
/.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Maven
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties

# Gradle (if you use it)
/.gradle/
/build/

# Eclipse (if any leftover configs)
.classpath
.project
.settings/

# Spring Boot
!/src/main/resources/application.properties
!/src/main/resources/application.yml

